<h1>INDEX</h1>
<div class="container">
    <% @boards.each do |board| %>
        <%= render board, board: board %>
    <% end %>
    <%= link_to new_board_path do %>
        <div class="card card_new_board" >+ Add new board</div>
    <% end %>
</div>
