<div class="container">
    <h2>Brackets</h2>
    <% @boards.each do |board| %>
        <%= render board, board: board %>
    <% end %>
    <%= link_to new_board_path do %>
        <div class="card card_new_board float_btn2" >+ Add new board</div>
    <% end %>
</div>
